.gallery {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-card {
    width: 320px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

}

.photo-card  img {
    width: 320px;
    height: 214px;
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
}