body {
 padding-top: 30px;   
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
 max-width: 1600px;

};

.header {
    max-width: 1600px;
    text-align: center;
    padding: auto;
    width: 100%;
    height: 30px;
    background-color: rgb(78, 94, 163);
    position: fixed;
    top: 0;
    left: 0;

}

.search-form {
padding-top: 5px;


};